*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

body{
	background: #eeeff4;
}

.containerAplication {
    padding-top: 50px;
    .cards_wrap{
        padding: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .card_item{
            padding: 15px 25px;
            width: 25%;
            .card_inner{
                background: #fff;
                border-radius: 5px;
                padding: 35px 20px;
                min-width: 225px;
                max-height: 370px;
                width: 100%;
                position: relative;
                &:hover{
                    .overlay{
                        visibility: visible;
                        animation:fade 0.5s;
                    }
                }
            }
            img{
                height: 270px;
                width: 100%;
                object-fit: scale-down;
            }
            .real_name{
                color: #f08804;
                font-weight: 900;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-size: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .role_name{
                color: #b6c0c2;
                font-size: 15px;
                font-weight: 100;
                margin: 5px 0 10px;
            }
            .actions{
                display: flex;
                justify-content: space-between;
                div{
                    display: flex;
                }
                span{
                    color: #b6c0c2;
                    margin-right: 30%;
                    &:hover{
                        color: #f08804;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1024px){
        .cards_wrap .card_item{
            width: 33%;
        }
    }
    
    @media screen and (max-width: 768px){
        .cards_wrap .card_item{
            width: 50%;
        }
        .wrapper .header{
            font-size: 16px;
            height: 60px;
        }
    }
    
    @media screen and (max-width: 568px){
        .cards_wrap .card_item{
            width: 100%;
        }
    }

    .newSite {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #f08804;
        position: absolute;
        left: 20px;
        cursor: pointer;
        .plus{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 32%;
        }
   }
}